<!-- <link rel="stylesheet" href="/css/home.css"> -->
<%- include('./partials/header.ejs')%>
    <div class="content" >
       <p>This is an furniture website to trade your items</p>
    </div>
<%- include('./partials/footer.ejs')%>   