<%- include('./partials/header.ejs')%>
    <div class="content">
      <p>You can contact us on <br>
        Email : furniture@gmail.com
        Phone: 0000000;
    </p>
    </div>
<%- include('./partials/footer.ejs')%>   