
<%- include('./partials/header.ejs')%>

<div class="body1" >
<div class="content-block">
<img class="content-image" alt="logo" src="../images/logo5.jpg"> 
<h2 >Let's Trade the Memories!</h2>

<h2 >Welcome to Wooden Street Trade!</h2>
<p>New and Used Home items everyone can trade. A place specialize in all categories of Home furnishing including Bed, Almirah, Sofa set, Home Decor and many more.
    Check out our Trades section for the very best in unique and affordable pieces.
</p>
</div>
</div>

<%- include('./partials/footer.ejs')%>



<!-- /* footer {
    clear: both;
    position: relative;
    border-bottom: 1px solid #6b42e4;
    border-top: 1px solid #6b42e4;
} */ -->
